<?xml version="1.0"?>
<!--
/**
 * Created by PhpStorm.
 * User: sandipan
 * Date: 23/3/17
 * Time: 5:32 PM
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Sandipan\CronScheduler\Model\JobListInterface" type="Sandipan\CronScheduler\Model\JobList" />
</config>